.div-icon .icon-indicator{
	margin-left: -22px;
}

.humidity-container{
	margin-left: -6px;
}

.div-icon{
	border: solid 1px yellow;	
}

/*rgba(252, 246, 177, 0.2)*/

.div-icon .indicator{
	width: 5px;
	height: 35px;
}

.weather-icon {
	position: relative;	
	top: -33px;
}

.weather-icon img {
	height: 30px;
}
.time {
	position: relative;
	left: 5px;
}

.time img {
	height: 20px;
}

.div-icon .day-night {
	position: relative;
	bottom: 37px;
}

.div-icon .weather{
	position: relative;
	bottom: 98px;
	left: 35px;
}

.div-icon .wind{
	position: relative;
	right: 20px;
	bottom: 81px;	
}

.div-icon .city{
	position: relative;
	color: #160D08;
	width:30px;
	bottom: 85px;
}


#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}
.search-ui {
  position:absolute;
  top:10px;
  right:10px;
  z-index:1000;
  }
